@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    color-scheme: light dark;
    color: #212121;
    background-color: rgba(255, 255, 255, 0.87s);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%; 

}

a{
    @apply text-[#646cff] font-medium hover:text-[#535bf2]
}

